@media screen and (max-width:600px){
    div.header1{
        display: grid;
        grid-template-areas: 
        "logo"
        "titulo";
        grid-template-rows: 125px 100px;
        grid-template-columns:1fr;
        div.logo{
            a{
                display: flex;
                justify-content: center;
                grid-area: logo;
                img{
                    display: flex;
                    justify-content: center;
                }
            }
        }
        div.titulo{
            grid-area: titulo;
            h1{
                font-size: 50px;
            }
        }
    }
    nav{
        div{
            div{
                ul.listanav{
                    width: 50%;
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
    }
    /* index */
    div.sub1y3{
        h2{
            font-size: 20px !important;
        }
    }
    div.cont1{
        p{
            font-size: 20px;
        }
    }
    div.cont2{
        div.hombre{
            img{
                width: 150px;
                height: 250px;
            }
        }
        div.mujeryniños{
            img{
                width: 150px;
                height: 250px;
            }
        }
    }
    div.cont3{
        display: flex;
        justify-content: center;
    }
    div.mediosdepago{
        div{
            h2{
                font-size: 20px;
            }
            p{
                font-size: 20px;
            }
        }
    }
    
    /* secciones */
    div.imgdest{
        img{
            width: 100px;
            height: 200px;
        }
    }
    div.imgoferta{
        img{
            width: 100px;
            height: 150px;
        }
    }
    /* ayuda */
    main{
        div.botones{
            div{
                button{
                    font-size: 15px;
                    }
                }
            }
        div.subform{
            h2{
                font-size: 20px;
                padding-left: 20px;
                }
        }
        form{
            fieldset{
                div.datos{
                    display: grid;
                    grid-template-areas:
                    "formcont1"
                    "formcont2"
                    "comentario";
                    div.formcont1{
                        grid-area: formcont1;
                        display: flex;
                    }
                    div.formcont2{
                        grid-area: formcont2;
                        display: flex;
                        justify-content: center;
                    }
                    div.comentario{
                        grid-area: comentario;
                        display: flex;
                        justify-content: center;
                        p{
                            margin: 0;
                            textarea{
                                width: 260px;
                                height: 200px;
                            }
                        }
                    }
                }
            }
        }
    }
}